{% extends "base.html" %}

{% block titulo_pagina %}
  Lista de Tarefas
{% endblock titulo_pagina %}

{% block content %}
<h1>Lista de Tarefas</h1>

{% if todo_list %}
<!-- O  todo_list ao lado se refere à classe Todo da views + a classe herdada ListView, ficando "todo_list" -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Data de Criação</th>
            <th scope="col">Data de Entrega</th>
            <th scope="col">Data de Finalização</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>

            {% for todo in todo_list %}
                <tr>
                    <th scope="row">{{ todo.pk }}</th>
                    <td>{{ todo.titulo }}</td>
                    <td>{{ todo.data_criacao }}</td>
                    <td>{{ todo.data_entrega }}</td>
                    <td>{{ todo.data_finalizacao|default:"-" }}</td>
                    <td>
                        <a href="{% url 'finalizar_tarefa' pk=todo.pk %}" class="btn btn-primary btn-sm">Concluir</a>
                        <a href="{% url 'edicao_tarefa' pk=todo.pk %}" class="btn btn-secondary btn-sm">Editar</a>
                        <a href="{% url 'deletar_tarefa' pk=todo.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

{% else %}
      <p>Não há tarefas cadastradas</p>
{% endif %}

<a href="{% url 'criacao_tarefa' %}" class="btn btn-primary">
  Nova Tarefa
</a>
{% endblock content %}